* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMono Nerd Font';
    min-height: 0px;
    font-size: 12px;
}

window#waybar {
    background: transparent;
    color: #EDF1F2;
}

.modules-left,
.modules-center,
.modules-right {
    border-radius: 10px;
    background: #242037;
    opacity: 0.85;
}

.modules-center {
    padding: 0 20px;
}

.modules-right {
    padding-left: 10px;
}

#workspaces button {
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.active,
#workspaces button.focuse {
    color: #75B39C;
    font-weight: bold;
}

#custom-update {
    min-width: 12px;
    margin-left: 8px;
    color: #F79926;
}

#pulseaudio,
#battery {
    min-width: 12px;
    margin: 0 7.5px;
}

#tray {
    margin-right: 16px;
}

#bluetooth {
    margin-right: 17px;
}

#network {
    margin-right: 13px;
}

#custom-expand-icon {
    margin-right: 20px;
}

#backlight {
    margin-right: 16px;
}

#temperature {
    margin-right: 13px;
}

.hidden {
    opacity: 0;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

@keyframes blink-update {
    to {
        background-color: dodgerblue;
    }
}
