[Desktop Entry]
Name=Wiremix
Comment=Manage audio
Exec=$TERMINAL --class=TUI.float -e wiremix -v output
Terminal=false
Type=Application
Icon=/home/hiyagni/.local/share/applications/icons/Omarchy.png
StartupNotify=true
